
.container { 
    height: 200px;
    position: relative;
  }

  .center1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 170%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .center2 {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .box {
    border: 5px solid black;
    position: absolute;
    top: 190%;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    width: 600px;
 }
  
 button {
  display: inline-block;
  max-width: 77%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(171, 0, 71);
  color: rgb(255, 222, 104);
  font-family:monospace;
  font-size: 1.0em;
  box-decoration-break:slice;

 }


 img {
  height: 250px;
  width: 250px;
  
   }
