body {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0;
    flex-direction: column;
    background-color: rgb(23, 33, 228);
  }

.typewriter {
    font-size: 14px;
    color: white;
    overflow: hidden;
    width: 0;
    border-right: .50sem solid rgb(23, 33, 228);
    animation: typing 2.5s steps(25) forwards
  }


  @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
  }

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 40px;
    color: white;
    text-align: center; 
    font-size: 50px 
}

#content {
    margin: 10px;
    padding: 10px;
  }

  a {
    color: white;
}
a:hover {
    color: rgb(243, 64, 216);
}

.static {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}